{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "space-before-function-paren": ["error", "always"]
  },
  "extends": ["standard", "react-app"]
}
